.loginScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ddd;
  .row {
    margin-bottom: 10px;
    .loginInputFail {
      border-color: #f00;
    }
    label {
      margin: 0 0 0 5px;
    }
  }
}
