@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";

.projectsContainer {
  background-color: #ddd;
  min-height: 100vh;
  overflow-x: hidden;
  .fixedWindow {
    right: 3rem;
    top: 0;
    margin-top: 5.05rem;
    transition: all .5s;
    z-index: 100;
    @include media-breakpoint-between(xs, md) {
      width: 95%!important;
      left: 2.5%!important;
      height: 90%!important;
      top: 5%!important;
      margin: 0!important;
      -webkit-box-shadow: 0 0 100px 0 rgba(0,0,0,0.75)!important;
      -moz-box-shadow: 0 0 100px 0 rgba(0,0,0,0.75)!important;
      box-shadow: 0 0 100px 0 rgba(0,0,0,0.75)!important;
    }
  }
  .trackWindow {
    right: unset;
    left: 3rem;
    height: unset!important;
  }
}
